*{margin: 0;padding: 0;}
	a {color: inherit; text-decoration: none;}

	#visual {position: relative; width: 100%; height: 750px; margin-bottom: : 95px;}
	#visual > div {position: absolute; top: 0; width: 50%; height: 100%; overflow: hidden;}

	#visual > div, #visual div .bg, #visual div .txt {position: absolute;}
	#visual .left, #visual .left .bg {left: 0;}
	#visual .right, #visual .right .bg {right: 0;}

	#visual div .bg {width: 100vw; height: 100%; background: no-repeat center; background-size: cover;}
	#visual .left .bg {background-image: url("../pc_images/Ingredient_analysis.jpg");}
	#visual .right .bg {background-image: url("../pc_images/recommend_restarant.jpg"); }

	#visual div .txt {text-align: center; top: 50%;}
	#visual div .txt p {font-size: 18px; writing-mode: vertical-rl; text-orientation: mixed; font-weight: 600;}
	#visual div .txt p span {font-size: 28px; font-weight: bold; line-height: 70px; letter-spacing: 6px;}
	#visual .left .txt {left: 30px; height: 242px; margin-top: -121px;}
	#visual .right .txt {right: 30px; height: 208px; margin-top: -104px;}
	
	#header {height: 95px; }
	#header .logo {position: absolute; top: 0; left: 0; width: 100%; padding-top: 50px; height: 70px; z-index: 100; text-align: center; line-height: 1; }
	#header .logo img {float: left; width: 88px; height: 80px;}
	#header h1 {font-size: 80px; text-align: center;}

    #content1 { overflow: hidden; position: relative; margin-top: 95px; width: 100%; height: 1000px;  margin-bottom: 95px; background: #ccc;}
	#content1 .cnt_wrap { height: 1200px; margin-top: -100px; background: url(pc_images/con1_2.jpg) no-repeat center; background-size: cover; }
	#content1 .con1 { position: absolute; top: 50%; left: 50%; text-align: center; width: 960px; height: 252px; background-color: rgba(255, 255, 255, 0.7); transform: translate(-50%, -50%); }
	#content1 .con1 h2 { font-size: 52px; margin-top: 32px; font-weight: bold;}
	#content1 .con1 p { font-size: 20px; margin-top: 60px; font-weight: 600; }

	#content2 {height: 1520px;}
	#content2 .bg {position: relative; background: #fddcd6; height: 832px; margin-top: 95px;}
	#content2 .bg .text {text-align: center; padding-top: 92px;}
	#content2 .bg .text h2 {font-size: 52px; margin-bottom: 55px;}
	#content2 .bg .text p {font-size: 22px; line-height: 1.7; margin-bottom: 1000px; font-weight: 600;}
	#content2 .bg { text-align: center;}
	#content2 .bg .images {position: absolute; width: 1120px;}
	#content2 .bg .images img {width: 560px;}
	#content2 .bg .images img+img {position: absolute; top: 10px;}